/* font-family: 'Inter', sans-serif; */
body{font-family: 'Inter';}
/* .logo{font-family: 'Inter';
    font-size: 52px;
    
    color: #111111cc;}
.logo-litle{color: #11111199;
    font-family: 'Inter';
} */


